@using Microsoft.EntityFrameworkCore.Infrastructure
@using ApplicationCore.Entities
@model ApplicationCore.Models.CastDetailsModel

@{
    ViewData["Title"] = @Model.Name;
}

<div class="rounded">
    <div class="container-fluid">
        <div class="row" style="height:320px; background:lightgray;">
            <div class="col-5 text-center">
                <img src="@Model.ProfilePath" style="height:320px;"/>
            </div>
            <div class="col" style="color: black">
                <h1 id="cast-name">
                    @Model.Name
                </h1>
                @{
                        switch (@Model.Gender)
                        {
                            case "0":
                                <h4>Unknown</h4>
                                break;
                            case "1":
                                <h4>Female</h4>
                                break;
                            case "2":
                                <h4>Male</h4>
                                break;
                            case "3":
                                <h4>Non-binary</h4>
                                break;
                            default:
                                <h4>Choose not to identify</h4>
                                break;
                        }
                }
                <div><h4><a href="@Model.TmdbUrl" id="tmdbUrl">TMDB Profile</a></h4></div>
                
            </div>
        </div>
        <br/>
        <div class="row">
            @foreach (var movieCard in Model.Movies)
                {
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <partial name="_MovieCard" model="movieCard"/>
                    </div>
                }
        </div>
    </div>
</div>